@use "variables" as v;

aside {
  display: none; // inicialmente escondido
  color: v.$cor-branco;
  padding: 1rem 1.5rem;
  box-shadow: 0 4px 12px v.$cor-sombra;
  background-color: v.$cor-roxo-escuro;
  border-radius: 8px;
  width: auto;
  height: auto;
  padding: 0;
  position: relative;
  z-index: 1200;
  margin-top: 50px;

  a {
    color: v.$cor-branco;
    text-decoration: none;

    h3 {
      font-size: 1.5rem;
      font-weight: 700;
    }

    p {
      font-size: 1rem;
      font-weight: 400;
    }
  }


  
}

@media (max-width: 768px) {
  aside {
    display: flex; // mostra no mobile
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    padding: 1rem;


  }
}