/* Variaveis de cores */
$cor-roxo-escuro: #350944;
$cor-roxo-claro: #792297;
$cor-roxo-muito-claro: #B853FD;
$cor-verde-escuro: #49B91B;
$cor-verde-medio: #538615;
$cor-verde-claro: #5DD619;
$cor-verde-muito-claro: #CACF35;
$cor-branco: #FFFFFF;
$cor-preto: #000000;
$cor-sombra: rgba(0, 0, 0, 0.2);
$cor-sombra-disabled: rgba(0, 0, 0, 0.1);
/*fim das cores*/
