// Importando o Bootstrap
@use "bootstrap/scss/bootstrap";

// Minhas variáveis e módulos
@use "variables" as v;
@use "navbar";
@use "hero";
@use "aside";

body {
  padding-top: 90px; // altura aproximada da navbar
}

@media (max-width: 768px) {
  body {
    padding-top: 70px; // um pouco menor no mobile
  }
}
